<app-footer class="footer-eo4geo">
  <span><a href="http://www.eo4geo.eu/tools" target="_blank" class="btn btn-light-primary">EO4GEO Tools</a></span>
  <span><a href="http://www.eo4geo.eu" target="_blank" class="btn btn-light-primary">EO4GEO</a></span>
  <span class="ml-auto">
    <a href="https://eo4geo-uji.web.app/documentation/BVS.pdf" target="_blank" class="btn">User Manual </a>
    <a class="btn btn-light-primary" (click)="releaseNotesModal.open()"> Release Notes v4.0</a>
    <a href="mailto:eo4geo@gmail.com?subject=EO4GEO Tools Contact" class="btn"> Contact</a>
    <a href="http://www.eo4geo.eu/privacy-policy/" target="_blank" class="btn btn-light-primary"> Privacy Policy</a>
  </span>
  <app-release-notes #releaseNotesModal></app-release-notes>
</app-footer>