@import '~@coreui/coreui/scss/coreui';

.footer-eo4geo {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.footer-eo4geo a {
  color: #1a80b6 !important;
}

.disclaimer {
  font-size: smaller;
}




