<app-footer class="footer-eo4geo">
  <span><a href="http://www.eo4geo.eu/tools" target="_blank" class="btn btn-light-primary">EO4GEO Tools</a></span>
  <span><a href="http://www.eo4geo.eu" target="_blank" class="btn btn-light-primary">EO4GEO</a></span>
  <span class="ml-auto">
    <a href="https://eo4geo-uji.web.app/documentation/BVS.pdf" target="_blank" class="btn">User Manual </a>
    <a class="btn btn-light-primary" (click)="releaseNotesModal.open()"> Release Notes v6.0</a>
    <a href="mailto:eo4geo@gmail.com?subject=EO4GEO Tools Contact" class="btn"> Contact</a>
    <a href="http://www.eo4geo.eu/privacy-policy/" target="_blank" class="btn btn-light-primary"> Privacy Policy</a>
  </span>
  <app-release-notes #releaseNotesModal></app-release-notes>
    <div class="row">
      <div class="col-md-2 text-center" style="margin:auto">
        <img src="../../../assets/img/logoerasmus.png" alt="Erasmus+ Sector Skills Alliance" class="img-fluid">
      </div>
      <div class="col-md-10 disclaimer" style="margin:auto">
        © 2018 EO4GEO Consortium | With the
        support of the Erasmus+ programme of the European Union | The EC support for the production of this publication does
        not constitute endorsement of the contents which
        reflects
        the
        views only of the authors, and the Commission cannot be held responsible for any use which may be made of the
        information contained therein.
      </div>
    </div>
</app-footer>