body {
    
}

.nodeTree {
    cursor: pointer;
}

.nodeTree circle {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
}

.nodeTree text {
    
    fill: white;
}

.link {
    fill: none;
}

div.formFill {
    margin : auto;
    text-align: left;
    background: #FFFFEF;
    width: 50%;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    font-size: 1.1em;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}

div.formFill1 {
    margin : auto;
    text-align: left;
    background: #FFFFEF;
    width: 50%;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    font-size: 1.1em;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}


.form-input {
    height : 30px;
    margin-right: 0px;
    width: 98%;
    font-size: 13px;
}

select option:checked, option:hover {
    background:   #1ab188 repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQIW2OU2tjxnwENMNJAEAC5WAugY0uDBwAAAABJRU5ErkJggg==");
  
    
}


.form-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom : 0px;
    margin-right: 0px;
}

.header {
    text-align: center;
    font-size: 14px;
    margin-bottom : 7px;
    margin-top : 7px;
}

.droptarget {
    float: right;
    width: 100px;
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    
}

.treeButton{
    height : 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.concept-name {
    font-weight: normal;
    cursor: pointer;
    font-size : 100%;
}

.concept-name:hover {
    font-weight: bold;
    
}

.concept-name1 {
    font-weight: normal;
    cursor: pointer;
    font-size : 100%;
}

.concept-name1:hover {
    font-weight: bold;
    
}
