<app-header>
</app-header>
<div class="jumbotron">
  <div class="row">
    <div class="col center">
      <h2>Find & Navigate in BoK</h2>
    </div>
    <div class="col center">
      <h3>Enter term to search in Name and Description of BoK Concepts: </h3>
      <input id="searchInputField" [(ngModel)]="searchText" placeholder="Search term here ..." (keyup)="onChangeSearchText()"
        size="30">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <div id="bubble"></div>
    </div>
    <div class="col" [hidden]="results">
      <h3 class="center" *ngIf="searchText && !currentConcept">No result(s) for {{ searchText }} </h3>
      <a href="#" (click)="navigateToConcept('GIST')" > < Back </a>
      <br>
      <h5 id="headline"></h5>
      <div id="description"></div>
      <div #currentDescription id="currentDescription"></div>
      <div id="moreButton"></div>
      <div class="concept-name" id="accordion"></div>
    </div>
    <div class="col" *ngIf="results && !currentConcept">
      <h3 class="center">{{selectedNodes.length}} result(s) for {{ searchText }} </h3>
      <div *ngFor="let item of selectedNodes; index as i">
        <div *ngIf="i < limitSearch">
          <div class="inline"> {{item.nameShort}}</div>
          <div class="inline" [innerHTML]="item.name | truncate: 100:searchText"></div>
          <a href="#" class="inline" (click)="navigateToConcept(item.nameShort)"> Details </a>
          <div class="small" [innerHTML]="item.description | truncate: 100:searchText"></div>
        </div>
      </div>
      <div>
        <br>
        <a *ngIf="limitSearch < selectedNodes.length" href="#" (click)="incrementLimit()"> Show more ... </a>
      </div>
    </div>
  </div>
  <app-footer>
  </app-footer>
  