<app-header>
</app-header>
<h6 class="center">The BoK is currently under development - stay tuned for further updates.</h6>
<div class="jumbotron" style="padding-top: 2%; margin-bottom: 0;">
  <div class="row">
    <div class="col center">
      <h2>BoK Visualization and Search</h2>
    </div>
    <div class="col left">
      <h3>Check the attributes to match with term searched: </h3>
      <br>
      <div class="row">
        <div class="col left">
          <input type="checkbox" [(ngModel)]="searchCode"> Code <br>
          <input type="checkbox" [(ngModel)]="searchName"> Name <br>
          <input type="checkbox" [(ngModel)]="searchDes"> Description <br>
          <input type="checkbox" [(ngModel)]="searchSkills"> Skills / Learning outcomes <br>
          <br>
          <a (click)="results = !results; currentConcept=''" *ngIf="!results && currentConcept != 'GIST'">
            < Back to search results </a>
        </div>
        <div class="col left">
          <input id="searchInputField" [(ngModel)]="searchText" placeholder="Search term here ..."
            (keyup)="onChangeSearchText()" size="30"> <br>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col left">
      <div class="row" *ngIf="!results">

        <div class="col left">
          Copy to Clipboard :
          <button style="margin-top: 10px; height: 30px; padding: 5px;" (click)="copyHTML()" class="w3-btn w3-white w3-border w3-border-blue w3-round w3-margin-left w3-margin-bottom">
            HTML code</button>
          <button style="margin-top: 10px; height: 30px; padding: 5px;" (click)="copyPermalink()" class="w3-btn w3-white w3-border w3-border-blue w3-round w3-margin-left w3-margin-bottom">
            Permalink</button>
            <span *ngIf="isCopied" class="w3-margin-left w3-margin-bottom"> Copied! </span>
        </div>
      </div>
      <div id="bubbles"></div>
    </div>
    <div class="col right" id="textInfo" #textInfo [hidden]="results"></div>
    <div class="col right" *ngIf="results">

      <a (click)="results = false; cleanResults()" *ngIf="results">
        &nbsp; X Clear search results </a>

      <h3 class="center">{{selectedNodes.length}} result(s) for {{ searchText }} </h3>
      <div *ngFor="let item of selectedNodes; index as i">
        <div *ngIf="i < limitSearchTo && i >= limitSearchFrom">
          <div class="inline"> {{item.nameShort}}</div>
          <div class="inline" [innerHTML]="item.name | truncate: 100:searchText"></div>
          <a href="javascript:void(0);" class="inline" (click)="navigateToConcept(item.nameShort)"> Details </a>
          <div class="small" [innerHTML]="item.description | truncate: 100:searchText"></div>
        </div>
      </div>
      <div>
        <br>
        <div class="row">
          <div class="col right text-right">
            <a *ngIf="limitSearchFrom > 0" (click)="decrementLimit()">
              << Previous </a>
          </div>
          <div class="col left text-left"> <a *ngIf="limitSearchTo < selectedNodes.length" (click)="incrementLimit()">
              Next >>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-release-notes #releaseNotesModal></app-release-notes>
<app-eo4geo-footer></app-eo4geo-footer>
